openapi: 3.0.1
info:
  description: ""
  termsOfService: ""
  title: Elastic Cloud API
  version: "1"
servers:
- url: https://api.elastic-cloud.com/api/v1/
security:
- apiKey: []
tags:
- name: Accounts
- name: Authentication
- name: BillingCostsAnalysis
- name: DeploymentTemplates
- name: Deployments
- name: DeploymentsTrafficFilter
- name: Extensions
- name: Organizations
- name: Stack
paths:
  /deployments/{deployment_id}/elasticsearch/{ref_id}/_shutdown:
    post:
      description: Shutdown Elasticsearch Resource belonging to a given Deployment.
      operationId: shutdown-deployment-es-resource
      parameters:
      - description: Identifier for the Deployment.
        in: path
        name: deployment_id
        required: true
        schema:
          type: string
      - description: User-specified RefId for the Resource.
        in: path
        name: ref_id
        required: true
        schema:
          type: string
      - description: Hide cluster on shutdown. Hidden clusters are not listed by default.
          Only applicable for Platform administrators.
        in: query
        name: hide
        schema:
          type: boolean
      - description: "If true, will skip taking a snapshot of the cluster before shutting\
          \ the cluster down (if even possible)."
        in: query
        name: skip_snapshot
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentResourceCommandResponse'
          description: Standard response.
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "* The Deployment specified by {deployment_id} cannot be found.\
            \ (code: `deployments.deployment_not_found`)\n* The Resource specified\
            \ by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_not_found
                - deployments.deployment_resource_not_found
                type: string
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "A Resource that was previously stored no longer exists. (code:\
            \ `deployments.deployment_resource_no_longer_exists`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_resource_no_longer_exists
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Parameter is restricted and can only be set by a Platform\
            \ administrator. (code: `deployments.restricted_parameter`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.restricted_parameter
                type: string
      summary: Shutdown Deployment Elasticsearch Resource
      tags:
      - Deployments
      x-doc:
        tag: Deployment - Commands
  /deployments/{deployment_id}/{resource_kind}/{ref_id}/instances/_start:
    post:
      description: Starts all instances belonging to a Deployment Resource.
      operationId: start-deployment-resource-instances-all
      parameters:
      - description: Identifier for the Deployment.
        in: path
        name: deployment_id
        required: true
        schema:
          type: string
      - description: "The kind of resource (one of elasticsearch, kibana, apm, or\
          \ integrations_server)."
        in: path
        name: resource_kind
        required: true
        schema:
          type: string
      - description: User-specified RefId for the Resource.
        in: path
        name: ref_id
        required: true
        schema:
          type: string
      responses:
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "* The Deployment specified by {deployment_id} cannot be found.\
            \ (code: `deployments.deployment_not_found`)\n* The Resource specified\
            \ by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)\n\
            * One or more instances of the given resource type are missing. (code:\
            \ `deployments.instances_missing_on_update_error`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_not_found
                - deployments.deployment_resource_not_found
                - deployments.instances_missing_on_update_error
                type: string
        "449":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
                type: string
        "202":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentResourceCommandResponse'
          description: The start command was issued successfully.
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The start maintenance mode command was prohibited for the\
            \ given Resource. (code: `deployments.instance_update_prohibited_error`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.instance_update_prohibited_error
                type: string
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "A Resource that was previously stored no longer exists. (code:\
            \ `deployments.deployment_resource_no_longer_exists`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_resource_no_longer_exists
                type: string
      summary: Start all instances
      tags:
      - Deployments
      x-doc:
        tag: Deployment - Commands
  /organizations/invitations/{invitation_token}:
    get:
      description: Gets a single invitation to an organization by token. Currently
        unavailable in self-hosted ECE.
      operationId: get-organization-invitation
      parameters:
      - description: Organization invitation token
        in: path
        name: invitation_token
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganizationInvitation'
          description: Organization invitation fetched successfully
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Invitation not found. (code: `organization.invitation_not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - organization.invitation_not_found
                type: string
      summary: Get organization invitation
      tags:
      - Organizations
      x-doc:
        tag: Organizations
  /stack/versions:
    get:
      description: "By default, retrieves only the available Elastic Stack versions.\
        \ To retrieve all of the Elastic Stack versions, use the `show_deleted parameter`."
      operationId: get-version-stacks
      parameters:
      - description: Whether to show deleted stack versions or not
        in: query
        name: show_deleted
        schema:
          default: false
          type: boolean
      - description: Whether to show versions that are unusable by the authenticated
          user
        in: query
        name: show_unusable
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/StackVersionConfigs'
          description: "The list of all available Elastic Stack versions are retrieved,\
            \ including the template version and structure."
      summary: Get stack versions
      tags:
      - Stack
      x-doc:
        tag: Stack - Versions - CRUD
  /deployments/{deployment_id}/{resource_kind}/{ref_id}/_restore:
    post:
      description: Restores a shutdown resource belonging to a given Deployment.
      operationId: restore-deployment-resource
      parameters:
      - description: Identifier for the Deployment
        in: path
        name: deployment_id
        required: true
        schema:
          type: string
      - description: The kind of resource
        in: path
        name: resource_kind
        required: true
        schema:
          enum:
          - elasticsearch
          - kibana
          - apm
          - appsearch
          - enterprise_search
          - integrations_server
          type: string
      - description: User-specified RefId for the Resource
        in: path
        name: ref_id
        required: true
        schema:
          type: string
      - description: Whether or not to restore a snapshot for those resources that
          allow it.
        in: query
        name: restore_snapshot
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentResourceCrudResponse'
          description: Standard Deployment Resource Crud Response
        "449":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
                type: string
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The Deployment specified by {deployment_id} cannot be found.\
            \ (code: `deployments.deployment_not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_not_found
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "* The Resource does not have a pending plan. (code: `deployments.resource_does_not_have_a_pending_plan`)\n\
            * The resource is not shut down. (code: `deployments.resource_not_shutdown`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.resource_does_not_have_a_pending_plan
                - deployments.resource_not_shutdown
                type: string
      summary: Restores a shutdown resource
      tags:
      - Deployments
      x-doc:
        tag: Deployment Resources - CRUD
  /deployments/{deployment_id}/_restore:
    post:
      description: Restores all resources in a Deployment.
      operationId: restore-deployment
      parameters:
      - description: Identifier for the Deployment
        in: path
        name: deployment_id
        required: true
        schema:
          type: string
      - description: Whether or not to restore a snapshot for those resources that
          allow it.
        in: query
        name: restore_snapshot
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentRestoreResponse'
          description: The request was valid and the resources of the deployment were
            restored.
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The Deployment specified by {deployment_id} cannot be found.\
            \ (code: `deployments.deployment_not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_not_found
                type: string
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: You are not authorized to perform this action.
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: There are Elasticsearch resources in the deployment which are
            not shut down.
      summary: Restores a shutdown Deployment
      tags:
      - Deployments
      x-doc:
        tag: Deployment - CRUD
  /deployments/templates:
    get:
      description: Retrieves all deployment templates.
      operationId: get-deployment-templates-v2
      parameters:
      - description: An optional key/value pair in the form of (key:value) that will
          act as a filter and exclude any templates that do not have a matching metadata
          item associated.
        in: query
        name: metadata
        schema:
          type: string
      - description: "If true, will return details for each instance configuration\
          \ referenced by the template."
        in: query
        name: show_instance_configurations
        schema:
          default: true
          type: boolean
      - description: "If true, will populate the max_zones field in the instance configurations.\
          \ Only relevant if show_instance_configurations=true."
        in: query
        name: show_max_zones
        schema:
          default: false
          type: boolean
      - description: "If present, it will cause the returned deployment templates\
          \ to be adapted to return only the elements allowed in that version."
        in: query
        name: stack_version
        schema:
          type: string
      - description: Region of the deployment templates
        in: query
        name: region
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/DeploymentTemplateInfoV2'
                type: array
          description: The deployment templates were returned successfully.
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The user is not authorized to access requested region. (code:\
            \ `templates.region_not_allowed`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - templates.region_not_allowed
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The requested region was not found. (code: `templates.region_not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - templates.region_not_found
                type: string
      summary: Get deployment templates
      tags:
      - DeploymentTemplates
      x-doc:
        tag: Deployments - Templates
  /users/auth/keys/{api_key_id}:
    delete:
      description: Delete or invalidate the API key.
      operationId: delete-api-key
      parameters:
      - description: The API Key ID.
        in: path
        name: api_key_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: The API key is deleted.
        "449":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
                type: string
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The {api_key_id} can't be found. (code: `api_keys.key_not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - api_keys.key_not_found
                type: string
      summary: Delete API key
      tags:
      - Authentication
      x-doc:
        tag: Authentication
    get:
      description: Retrieves the metadata for an API key.
      operationId: get-api-key
      parameters:
      - description: The API Key ID.
        in: path
        name: api_key_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
          description: The API key metadata is retrieved.
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The {api_key_id} can't be found. (code: `api_keys.key_not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - api_keys.key_not_found
                type: string
      summary: Get API key
      tags:
      - Authentication
      x-doc:
        tag: Authentication
  /account:
    get:
      description: Fetch current account information.
      operationId: get-current-account
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountResponse'
          description: Account fetched successfully
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Account not found. (code: `accounts.not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - accounts.not_found
                type: string
      summary: Fetch current account information
      tags:
      - Accounts
      x-doc:
        tag: Accounts
    patch:
      description: Updates the current account.
      operationId: patch-current-account
      requestBody:
        content:
          application/json:
            schema:
              type: string
        description: "All changes in the specified object are applied to the current\
          \ account according to the JSON Merge Patch processing rules. Omitting existing\
          \ fields causes the same values to be reapplied. Specifying a `null` value\
          \ reverts the field to the default value, or removes the field when no default\
          \ value exists."
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountResponse'
          description: Account updated successfully
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Account not found. (code: `accounts.not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - accounts.not_found
                type: string
      summary: Updates the current account
      tags:
      - Accounts
      x-doc:
        tag: Accounts
      x-codegen-request-body-name: body
    put:
      description: Updates the current account.
      operationId: update-current-account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateRequest'
        description: the current account
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountResponse'
          description: Account updated successfully
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Account not found. (code: `accounts.not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - accounts.not_found
                type: string
      summary: Updates the current account
      tags:
      - Accounts
      x-doc:
        tag: Accounts
      x-codegen-request-body-name: body
  /deployments/{deployment_id}/elasticsearch/{ref_id}/remote-clusters:
    get:
      description: Returns the list of remote clusters for the elasticsearch resource.
      operationId: get-deployment-es-resource-remote-clusters
      parameters:
      - description: Identifier for the Deployment.
        in: path
        name: deployment_id
        required: true
        schema:
          type: string
      - description: User-specified RefId for the Resource.
        in: path
        name: ref_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RemoteResources'
          description: List of remote clusters for the resource
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "* The Deployment specified by {deployment_id} cannot be found.\
            \ (code: `deployments.deployment_not_found`)\n* The Resource specified\
            \ by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_not_found
                - deployments.deployment_resource_not_found
                type: string
      summary: Get remote clusters
      tags:
      - Deployments
      x-doc:
        tag: Deployment - Remote Clusters
    put:
      description: Overwrites or creates the remote clusters for the elasticsearch
        resource.
      operationId: set-deployment-es-resource-remote-clusters
      parameters:
      - description: Identifier for the Deployment.
        in: path
        name: deployment_id
        required: true
        schema:
          type: string
      - description: User-specified RefId for the Resource.
        in: path
        name: ref_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteResources'
        description: List of remote clusters for the resource
        required: true
      responses:
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "* The Deployment specified by {deployment_id} cannot be found.\
            \ (code: `deployments.deployment_not_found`)\n* The Resource specified\
            \ by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_not_found
                - deployments.deployment_resource_not_found
                type: string
        "449":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
                type: string
        "202":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: The Remote Clusters were updated
      summary: Set remote clusters
      tags:
      - Deployments
      x-doc:
        tag: Deployment - Remote Clusters
      x-codegen-request-body-name: body
  /deployments/{deployment_id}/{resource_kind}/{ref_id}/instances/{instance_ids}/_stop:
    post:
      description: Stops instances belonging to a Deployment Resource.
      operationId: stop-deployment-resource-instances
      parameters:
      - description: Identifier for the Deployment.
        in: path
        name: deployment_id
        required: true
        schema:
          type: string
      - description: "The kind of resource (one of elasticsearch, kibana, apm, or\
          \ integrations_server)."
        in: path
        name: resource_kind
        required: true
        schema:
          type: string
      - description: User-specified RefId for the Resource.
        in: path
        name: ref_id
        required: true
        schema:
          type: string
      - description: A comma-separated list of instance identifiers.
        explode: false
        in: path
        name: instance_ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: "If true and the instance does not exist then quietly proceed\
          \ to the next instance, otherwise treated as an error."
        in: query
        name: ignore_missing
        schema:
          default: false
          type: boolean
      responses:
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "* The Deployment specified by {deployment_id} cannot be found.\
            \ (code: `deployments.deployment_not_found`)\n* The Resource specified\
            \ by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)\n\
            * One or more instances of the given resource type are missing. (code:\
            \ `deployments.instances_missing_on_update_error`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_not_found
                - deployments.deployment_resource_not_found
                - deployments.instances_missing_on_update_error
                type: string
        "449":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
                type: string
        "202":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentResourceCommandResponse'
          description: The stop command was issued successfully.
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The start maintenance mode command was prohibited for the\
            \ given Resource. (code: `deployments.instance_update_prohibited_error`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.instance_update_prohibited_error
                type: string
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "A Resource that was previously stored no longer exists. (code:\
            \ `deployments.deployment_resource_no_longer_exists`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_resource_no_longer_exists
                type: string
      summary: Stop instances
      tags:
      - Deployments
      x-doc:
        tag: Deployment - Commands
  /deployments/templates/{template_id}:
    get:
      description: Retrieves a deployment template by id.
      operationId: get-deployment-template-v2
      parameters:
      - description: The identifier for the deployment template.
        in: path
        name: template_id
        required: true
        schema:
          type: string
      - description: "If true, will return details for each instance configuration\
          \ referenced by the template."
        in: query
        name: show_instance_configurations
        schema:
          default: true
          type: boolean
      - description: "If true, will populate the max_zones field in the instance configurations.\
          \ Only relevant if show_instance_configurations=true."
        in: query
        name: show_max_zones
        schema:
          default: false
          type: boolean
      - description: "If present, it will cause the returned deployment template to\
          \ be adapted to return only the elements allowed in that version."
        in: query
        name: stack_version
        schema:
          type: string
      - description: Region of the deployment template
        in: query
        name: region
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentTemplateInfoV2'
          description: The deployment template was found and returned successfully.
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The deployment template specified by {template_id} cannot\
            \ be found. (code: `templates.template_not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - templates.template_not_found
                type: string
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The user is not authorized to access requested region. (code:\
            \ `templates.region_not_allowed`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - templates.region_not_allowed
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The requested region is not supported. (code: `templates.region_not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - templates.region_not_found
                type: string
      summary: Get deployment template
      tags:
      - DeploymentTemplates
      x-doc:
        tag: Deployments - Templates
  /deployments/{deployment_id}/apm/{ref_id}/_reset-token:
    post:
      description: Reset the token of an APM resource.
      operationId: deployment-apm-reset-secret-token
      parameters:
      - description: Identifier for the Deployment.
        in: path
        name: deployment_id
        required: true
        schema:
          type: string
      - description: User-specified RefId for the Resource.
        in: path
        name: ref_id
        required: true
        schema:
          type: string
      responses:
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "* The Deployment specified by {deployment_id} cannot be found.\
            \ (code: `deployments.deployment_not_found`)\n* The Resource specified\
            \ by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_not_found
                - deployments.deployment_resource_not_found
                type: string
        "449":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
                type: string
        "202":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApmCrudResponse'
          description: "Response containing the new secret token, plan to apply it\
            \ starts"
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "We have failed you. (code: `deployments.deployment_resource_no_longer_exists`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_resource_no_longer_exists
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Reset token is not supported when APM is managed by Elastic\
            \ Agent. (code: `clusters.cluster_plan_state_error`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - clusters.cluster_plan_state_error
                type: string
      summary: Reset the secret token for an APM resource.
      tags:
      - Deployments
      x-doc:
        tag: APM routes
  /deployments/{deployment_id}/enterprise_search/{ref_id}:
    get:
      description: Get info about an Enterprise Search Resource belonging to a given
        Deployment.
      operationId: get-deployment-enterprise-search-resource-info
      parameters:
      - description: Identifier for the Deployment
        in: path
        name: deployment_id
        required: true
        schema:
          type: string
      - description: User-specified RefId for the Resource
        in: path
        name: ref_id
        required: true
        schema:
          type: string
      - description: Whether to include the full cluster metadata in the response
          - can be large per cluster and also include credentials.
        in: query
        name: show_metadata
        schema:
          default: false
          type: boolean
      - description: Whether to include the full current and pending plan information
          in the response - can be large per cluster.
        in: query
        name: show_plans
        schema:
          default: true
          type: boolean
      - description: Whether to include with the current and pending plan information
          the attempt log - can be very large per cluster.
        in: query
        name: show_plan_logs
        schema:
          default: false
          type: boolean
      - description: Whether to include with the current and pending plan information
          the plan history- can be very large per cluster.
        in: query
        name: show_plan_history
        schema:
          default: false
          type: boolean
      - description: "If showing plans, whether to show values that are left at their\
          \ default value (less readable but more informative)."
        in: query
        name: show_plan_defaults
        schema:
          default: false
          type: boolean
      - description: Whether to show cluster settings in the response.
        in: query
        name: show_settings
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EnterpriseSearchResourceInfo'
          description: Standard response.
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The Deployment specified by {deployment_id} cannot be found.\
            \ (code: `deployments.deployment_not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_not_found
                type: string
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "We have failed you. (code: `deployments.deployment_resource_no_longer_exists`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_resource_no_longer_exists
                type: string
      summary: Get Deployment Enterprise Search Resource Info
      tags:
      - Deployments
      x-doc:
        tag: Deployment - Info
  /organizations/{organization_id}/invitations/{invitation_tokens}:
    delete:
      description: Deletes one or more organization invitations. Currently unavailable
        in self-hosted ECE.
      operationId: delete-organization-invitations
      parameters:
      - description: Identifier for the Organization
        in: path
        name: organization_id
        required: true
        schema:
          type: string
      - description: CSV list of Invitation tokens
        in: path
        name: invitation_tokens
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: Organization invitations deleted successfully
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "* Organization not found. (code: `organization.not_found`)\n\
            * Invitation not found. (code: `organization.invitation_not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - organization.not_found
                - organization.invitation_not_found
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "No valid invitation token was supplied. (code: `root.invalid_data`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - root.invalid_data
                type: string
      summary: Delete organization invitations
      tags:
      - Organizations
      x-doc:
        tag: Organizations
  /deployments/{deployment_id}/kibana/{ref_id}:
    get:
      description: Get info about a Kibana Resource belonging to a given Deployment.
      operationId: get-deployment-kib-resource-info
      parameters:
      - description: Identifier for the Deployment
        in: path
        name: deployment_id
        required: true
        schema:
          type: string
      - description: User-specified RefId for the Resource
        in: path
        name: ref_id
        required: true
        schema:
          type: string
      - description: Whether to include the full cluster metadata in the response
          - can be large per cluster and also include credentials.
        in: query
        name: show_metadata
        schema:
          default: false
          type: boolean
      - description: Whether to include the full current and pending plan information
          in the response - can be large per cluster.
        in: query
        name: show_plans
        schema:
          default: true
          type: boolean
      - description: Whether to include with the current and pending plan information
          the attempt log - can be very large per cluster.
        in: query
        name: show_plan_logs
        schema:
          default: false
          type: boolean
      - description: Whether to include with the current and pending plan information
          the plan history- can be very large per cluster.
        in: query
        name: show_plan_history
        schema:
          default: false
          type: boolean
      - description: "If showing plans, whether to show values that are left at their\
          \ default value (less readable but more informative)."
        in: query
        name: show_plan_defaults
        schema:
          default: false
          type: boolean
      - description: "If showing plans, whether to leave pre-2.0.0 plans in their\
          \ legacy format (the default), or whether to update them to 2.0.x+ format\
          \ (if 'true')."
        in: query
        name: convert_legacy_plans
        schema:
          default: false
          type: boolean
      - description: Whether to show cluster settings in the response.
        in: query
        name: show_settings
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KibanaResourceInfo'
          description: Standard response.
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The Deployment specified by {deployment_id} cannot be found.\
            \ (code: `deployments.deployment_not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_not_found
                type: string
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "We have failed you. (code: `deployments.deployment_resource_no_longer_exists`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_resource_no_longer_exists
                type: string
      summary: Get Deployment Kibana Resource Info
      tags:
      - Deployments
      x-doc:
        tag: Deployment - Info
  /deployments/{deployment_id}/appsearch/{ref_id}/read_only_mode:
    get:
      description: Enable/Disable read-only mode on the given App Search resource.
      operationId: get-appsearch-read-only-mode
      parameters:
      - description: Identifier for the Deployment.
        in: path
        name: deployment_id
        required: true
        schema:
          type: string
      - description: User-specified RefId for the Resource.
        in: path
        name: ref_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReadOnlyResponse'
          description: Standard response
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The Resource specified by ref_id cannot be found. (code: `deployments.deployment_resource_not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_resource_not_found
                type: string
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "We have failed you. (code: `deployments.deployment_resource_no_longer_exists`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_resource_no_longer_exists
                type: string
      summary: Set AppSearch read-only status
      tags:
      - Deployments
      x-doc:
        tag: App Search - Read-only
    put:
      description: Enable/Disable read-only mode on the given App Search resource.
      operationId: set-appsearch-read-only-mode
      parameters:
      - description: Identifier for the Deployment.
        in: path
        name: deployment_id
        required: true
        schema:
          type: string
      - description: User-specified RefId for the Resource.
        in: path
        name: ref_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReadOnlyRequest'
        description: read-only request body
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReadOnlyResponse'
          description: Standard response
        "449":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
                type: string
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The Resource specified by ref_id cannot be found. (code: `deployments.deployment_resource_not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_resource_not_found
                type: string
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "We have failed you. (code: `deployments.deployment_resource_no_longer_exists`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_resource_no_longer_exists
                type: string
      summary: Set AppSearch read-only status
      tags:
      - Deployments
      x-doc:
        tag: App Search - Read-only
      x-codegen-request-body-name: body
  /deployments/{deployment_id}/{resource_kind}/{ref_id}/instances/{instance_ids}/_start:
    post:
      description: Starts instances belonging to a Deployment Resource.
      operationId: start-deployment-resource-instances
      parameters:
      - description: Identifier for the Deployment.
        in: path
        name: deployment_id
        required: true
        schema:
          type: string
      - description: "The kind of resource (one of elasticsearch, kibana, apm, or\
          \ integrations_server)."
        in: path
        name: resource_kind
        required: true
        schema:
          type: string
      - description: User-specified RefId for the Resource.
        in: path
        name: ref_id
        required: true
        schema:
          type: string
      - description: A comma-separated list of instance identifiers.
        explode: false
        in: path
        name: instance_ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: "If true and the instance does not exist then quietly proceed\
          \ to the next instance, otherwise treated as an error"
        in: query
        name: ignore_missing
        schema:
          default: false
          type: boolean
      responses:
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "* The Deployment specified by {deployment_id} cannot be found.\
            \ (code: `deployments.deployment_not_found`)\n* The Resource specified\
            \ by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)\n\
            * One or more instances of the given resource type are missing. (code:\
            \ `deployments.instances_missing_on_update_error`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_not_found
                - deployments.deployment_resource_not_found
                - deployments.instances_missing_on_update_error
                type: string
        "449":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
                type: string
        "202":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentResourceCommandResponse'
          description: The start command was issued successfully.
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The start maintenance mode command was prohibited for the\
            \ given Resource. (code: `deployments.instance_update_prohibited_error`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.instance_update_prohibited_error
                type: string
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "A Resource that was previously stored no longer exists. (code:\
            \ `deployments.deployment_resource_no_longer_exists`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_resource_no_longer_exists
                type: string
      summary: Start instances
      tags:
      - Deployments
      x-doc:
        tag: Deployment - Commands
  /deployments/{deployment_id}/{stateless_resource_kind}/{ref_id}/_restart:
    post:
      description: "Restarts a Stateless Resource. If a Resource is active: this command\
        \ re-applies the existing plan but applies a \"cluster_reboot\", which issues\
        \ a restart command and waits for it to complete. If a Resource is inactive:\
        \ this command starts it up with the most recent successful plan."
      operationId: restart-deployment-stateless-resource
      parameters:
      - description: Identifier for the Deployment.
        in: path
        name: deployment_id
        required: true
        schema:
          type: string
      - description: The kind of stateless resource
        in: path
        name: stateless_resource_kind
        required: true
        schema:
          enum:
          - kibana
          - apm
          - appsearch
          - enterprise_search
          - integrations_server
          type: string
      - description: User-specified RefId for the Resource.
        in: path
        name: ref_id
        required: true
        schema:
          type: string
      - description: "If true, cancels any pending plans before restarting. If false\
          \ and there are pending plans, returns an error."
        in: query
        name: cancel_pending
        schema:
          default: false
          type: boolean
      responses:
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "* The Deployment specified by {deployment_id} cannot be found.\
            \ (code: `deployments.deployment_not_found`)\n* The Resource specified\
            \ by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_not_found
                - deployments.deployment_resource_not_found
                type: string
        "449":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
                type: string
        "202":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentResourceCommandResponse'
          description: The restart command was issued successfully
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The command sent to a Resource found the Resource in an illegal\
            \ state, the error message gives more details. (code: `deployments.deployment_resource_plan_change_error`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_resource_plan_change_error
                type: string
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "We have failed you. (code: `deployments.deployment_resource_no_longer_exists`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_resource_no_longer_exists
                type: string
      summary: Restart Deployment Stateless Resource
      tags:
      - Deployments
      x-doc:
        tag: Deployment - Commands
  /deployments/{deployment_id}/_shutdown:
    post:
      description: Shuts down all resources in a Deployment.
      operationId: shutdown-deployment
      parameters:
      - description: Identifier for the Deployment
        in: path
        name: deployment_id
        required: true
        schema:
          type: string
      - description: Whether or not to hide the deployment and its resources.Only
          applicable for Platform administrators.
        in: query
        name: hide
        schema:
          type: boolean
      - description: Whether or not to skip snapshots before shutting down the resources
        in: query
        name: skip_snapshot
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentShutdownResponse'
          description: The request was valid and the resources of the deployment were
            shutdown.
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The Deployment specified by {deployment_id} cannot be found.\
            \ (code: `deployments.deployment_not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_not_found
                type: string
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: You are not authorized to perform this action.
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Parameter is restricted and can only be set by a Platform\
            \ administrator. (code: `deployments.restricted_parameter`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.restricted_parameter
                type: string
      summary: Shuts down Deployment
      tags:
      - Deployments
      x-doc:
        tag: Deployment - CRUD
  /deployments/{deployment_id}/elasticsearch/{ref_id}/_enable-slm:
    post:
      description: Migrates the specified Elasticsearch resource to use SLM.
      operationId: enable-deployment-resource-slm
      parameters:
      - description: Identifier for the Deployment.
        in: path
        name: deployment_id
        required: true
        schema:
          type: string
      - description: User-specified RefId for the Resource.
        in: path
        name: ref_id
        required: true
        schema:
          type: string
      - description: "When `true`, does not enable SLM but returns warnings if any\
          \ applications may lose availability during SLM migration."
        in: query
        name: validate_only
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentResourceCommandResponse'
          description: Standard response
        "449":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
                type: string
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "* The Deployment specified by {deployment_id} cannot be found.\
            \ (code: `deployments.deployment_not_found`)\n* The Resource specified\
            \ by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_not_found
                - deployments.deployment_resource_not_found
                type: string
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "We have failed you. (code: `deployments.deployment_resource_no_longer_exists`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_resource_no_longer_exists
                type: string
      summary: Migrate Elasticsearch resource to use SLM
      tags:
      - Deployments
      x-doc:
        tag: Deployment - Commands
  /deployments/{deployment_id}/{resource_kind}/{ref_id}/instances/{instance_ids}/maintenance-mode/_start:
    post:
      description: Starts maintenance mode of instances belonging to a Deployment
        Resource.
      operationId: start-deployment-resource-maintenance-mode
      parameters:
      - description: Identifier for the Deployment.
        in: path
        name: deployment_id
        required: true
        schema:
          type: string
      - description: "The kind of resource (one of elasticsearch, kibana, apm, or\
          \ integrations_server)."
        in: path
        name: resource_kind
        required: true
        schema:
          type: string
      - description: User-specified RefId for the Resource.
        in: path
        name: ref_id
        required: true
        schema:
          type: string
      - description: A comma-separated list of instance identifiers.
        explode: false
        in: path
        name: instance_ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: "If true and the instance does not exist then quietly proceed\
          \ to the next instance, otherwise treated as an error."
        in: query
        name: ignore_missing
        schema:
          default: false
          type: boolean
      responses:
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "* The Deployment specified by {deployment_id} cannot be found.\
            \ (code: `deployments.deployment_not_found`)\n* The Resource specified\
            \ by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)\n\
            * One or more instances of the given resource type are missing. (code:\
            \ `deployments.instances_missing_on_update_error`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_not_found
                - deployments.deployment_resource_not_found
                - deployments.instances_missing_on_update_error
                type: string
        "449":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
                type: string
        "202":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentResourceCommandResponse'
          description: The start maintenance command was issued successfully.
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The start maintenance mode command was prohibited for the\
            \ given Resource. (code: `deployments.instance_update_prohibited_error`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.instance_update_prohibited_error
                type: string
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "A Resource that was previously stored no longer exists. (code:\
            \ `deployments.deployment_resource_no_longer_exists`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_resource_no_longer_exists
                type: string
      summary: Start maintenance mode
      tags:
      - Deployments
      x-doc:
        tag: Deployment - Commands
  /deployments/traffic-filter/rulesets/{ruleset_id}/associations/{association_type}/{associated_entity_id}:
    delete:
      description: Deletes the traffic rules in the ruleset from the deployment.
      operationId: delete-traffic-filter-ruleset-association
      parameters:
      - description: The mandatory ruleset ID.
        in: path
        name: ruleset_id
        required: true
        schema:
          type: string
      - description: Association type
        in: path
        name: association_type
        required: true
        schema:
          type: string
      - description: Associated entity ID
        in: path
        name: associated_entity_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: Delete association request was valid and the association has
            been deleted
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The traffic filter ruleset association cannot be found. (code:\
            \ `traffic_filter.not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - traffic_filter.not_found
                type: string
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Deletion failed. (code: `traffic_filter.request_execution_failed`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - traffic_filter.request_execution_failed
                type: string
      summary: Delete ruleset association
      tags:
      - DeploymentsTrafficFilter
      x-doc:
        tag: Deployments - Traffic Filter - Associations
  /organizations/{organization_id}/members:
    get:
      description: Fetch users belonging to the selected organization. Currently unavailable
        in self-hosted ECE.
      operationId: list-organization-members
      parameters:
      - description: Identifier for the Organization
        in: path
        name: organization_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganizationMemberships'
          description: Organization members fetched successfully
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Organization not found. (code: `organization.not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - organization.not_found
                type: string
      summary: List organization members
      tags:
      - Organizations
      x-doc:
        tag: Organizations
  /deployments/{deployment_id}/elasticsearch/{ref_id}/_restart:
    post:
      description: "Restarts an Elasticsearch Resource. If a Resource is active: this\
        \ command re-applies the existing plan but applies a \"cluster_reboot\", which\
        \ issues a restart command and waits for it to complete. If a Resource is\
        \ inactive: this command starts it up with the most recent successful plan."
      operationId: restart-deployment-es-resource
      parameters:
      - description: Identifier for the Deployment.
        in: path
        name: deployment_id
        required: true
        schema:
          type: string
      - description: User-specified RefId for the Resource.
        in: path
        name: ref_id
        required: true
        schema:
          type: string
      - description: "When set to true and restoring from shutdown, then will restore\
          \ the cluster from the last snapshot (if available)."
        in: query
        name: restore_snapshot
        schema:
          default: true
          type: boolean
      - description: "If true, will not take a snapshot of the cluster before restarting."
        in: query
        name: skip_snapshot
        schema:
          default: true
          type: boolean
      - description: "If true, cancels any pending plans before restarting. If false\
          \ and there are pending plans, returns an error."
        in: query
        name: cancel_pending
        schema:
          default: false
          type: boolean
      - description: "Indicates the property or properties used to divide the list\
          \ of instances to restart in groups. Valid options are: '\\_\\_all\\_\\\
          _' (restart all at once), '\\_\\_zone\\_\\_' by logical zone, '\\_\\_name\\\
          _\\_' one instance at a time, or a comma-separated list of attributes of\
          \ the instances"
        in: query
        name: group_attribute
        schema:
          default: __zone__
          type: string
      - description: "The time, in seconds, to wait for shards that show no progress\
          \ of initializing, before rolling the next group (default: 10 minutes)"
        in: query
        name: shard_init_wait_time
        schema:
          default: 600
          type: integer
      responses:
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "* The Deployment specified by {deployment_id} cannot be found.\
            \ (code: `deployments.deployment_not_found`)\n* The Resource specified\
            \ by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_not_found
                - deployments.deployment_resource_not_found
                type: string
        "449":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
                type: string
        "202":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentResourceCommandResponse'
          description: The restart command was issued successfully.
        "422":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The command sent to a Resource found the Resource in an illegal\
            \ state, the error message gives more details. (code: `deployments.deployment_resource_plan_change_error`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_resource_plan_change_error
                type: string
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "A Resource that was previously stored no longer exists. (code:\
            \ `deployments.deployment_resource_no_longer_exists`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_resource_no_longer_exists
                type: string
      summary: Restart Deployment Elasticsearch Resource
      tags:
      - Deployments
      x-doc:
        tag: Deployment - Commands
  /billing/costs/{organization_id}:
    get:
      description: "EXPERIMENTAL (it may change in future versions): Retrieves an\
        \ overview of the costs by organization ID."
      operationId: get-costs-overview
      parameters:
      - description: Identifier for the organization
        in: path
        name: organization_id
        required: true
        schema:
          type: string
      - description: A datetime for the beginning of the desired range for which to
          fetch costs. Defaults to start of current month.
        in: query
        name: from
        schema:
          type: string
      - description: A datetime for the end of the desired range for which to fetch
          costs. Defaults to the current date.
        in: query
        name: to
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CostsOverview'
          description: Top-level cost overview for the organization
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Organization not found. (code: `organization.not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - organization.not_found
                type: string
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The current user does not have access to the requested organization.\
            \ (code: `organization.invalid_access`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - organization.invalid_access
                type: string
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "An error occurred when fetching an overview of the costs for\
            \ the organization. (code: `billing_service.failed_request`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - billing_service.failed_request
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The specified date range is invalid. (code: `costs.invalid_date_range`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - costs.invalid_date_range
                type: string
      summary: Get costs overview for the organization. Currently unavailable in self-hosted
        ECE.
      tags:
      - BillingCostsAnalysis
      x-doc:
        tag: Billing Costs Analysis
  /deployments/{deployment_id}/{resource_kind}/{ref_id}/instances/maintenance-mode/_start:
    post:
      description: Starts maintenance mode of all instances belonging to a Deployment
        Resource.
      operationId: start-deployment-resource-instances-all-maintenance-mode
      parameters:
      - description: Identifier for the Deployment.
        in: path
        name: deployment_id
        required: true
        schema:
          type: string
      - description: "The kind of resource (one of elasticsearch, kibana, apm, or\
          \ integrations_server)."
        in: path
        name: resource_kind
        required: true
        schema:
          type: string
      - description: User-specified RefId for the Resource.
        in: path
        name: ref_id
        required: true
        schema:
          type: string
      responses:
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "* The Deployment specified by {deployment_id} cannot be found.\
            \ (code: `deployments.deployment_not_found`)\n* The Resource specified\
            \ by {ref_id} cannot be found. (code: `deployments.deployment_resource_not_found`)\n\
            * One or more instances of the given resource type are missing. (code:\
            \ `deployments.instances_missing_on_update_error`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_not_found
                - deployments.deployment_resource_not_found
                - deployments.instances_missing_on_update_error
                type: string
        "449":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Elevated permissions are required. (code: `root.unauthorized.rbac.elevated_permissions_required`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - root.unauthorized.rbac.elevated_permissions_required
                type: string
        "202":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentResourceCommandResponse'
          description: The start maintenance command was issued successfully.
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The start maintenance mode command was prohibited for the\
            \ given Resource. (code: `deployments.instance_update_prohibited_error`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.instance_update_prohibited_error
                type: string
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "A Resource that was previously stored no longer exists. (code:\
            \ `deployments.deployment_resource_no_longer_exists`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - deployments.deployment_resource_no_longer_exists
                type: string
      summary: Start maintenance mode (all instances)
      tags:
      - Deployments
      x-doc:
        tag: Deployment - Commands
  /billing/costs/{organization_id}/deployments:
    get:
      description: "EXPERIMENTAL (it may change in future versions): Retrieves the\
        \ costs associated with all deployments for the organization."
      operationId: get-costs-deployments
      parameters:
      - description: Identifier for the organization
        in: path
        name: organization_id
        required: true
        schema:
          type: string
      - description: A datetime for the beginning of the desired range for which to
          fetch activity. Defaults to start of current month.
        in: query
        name: from
        schema:
          type: string
      - description: A datetime for the end of the desired range for which to fetch
          activity. Defaults to the current date.
        in: query
        name: to
        schema:
          type: string
      - description: Accept header containing the content preference.
        in: header
        name: Accept
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeploymentsCosts'
          description: The costs associated to a set of products
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Organization not found. (code: `organization.not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - organization.not_found
                type: string
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The current user does not have access to the requested organization.\
            \ (code: `organization.invalid_access`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - organization.invalid_access
                type: string
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "An error occurred when fetching the costs associated with\
            \ all deployments for the organization. (code: `billing_service.failed_request`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - billing_service.failed_request
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Invalid date range specified. (code: `costs.invalid_date_range`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - costs.invalid_date_range
                type: string
      summary: Get deployments costs for the organization. Currently unavailable in
        self-hosted ECE.
      tags:
      - BillingCostsAnalysis
      x-doc:
        tag: Billing Costs Analysis
  /deployments/extensions:
    get:
      description: Retrieves all of the available extensions.
      operationId: list-extensions
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Extensions'
          description: The extensions that are available
      summary: List Extensions
      tags:
      - Extensions
      x-doc:
        tag: Deployments - Extensions
    post:
      description: "Creates the extension.\n The extensions API supports two types\
        \ of usage patterns.\n A). Specify a `download_url`, http or https URL,  where\
        \ the extension is currently hosted. This will result in extension being copied\
        \ to elastic repository.\n B). Create only the extension metadata using the\
        \ `POST` endpoint and then use `PUT` to upload the extension file. Leave the\
        \ `download_url` unspecified in this case.\n"
      operationId: create-extension
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExtensionRequest'
        description: the data that creates the extension
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Extension'
          description: The extension that was just created.
          headers:
            x-cloud-resource-version:
              description: "The resource version, which is used to avoid update conflicts\
                \ with concurrent operations"
              schema:
                type: string
            x-cloud-resource-last-modified:
              description: The date-time when the resource was last modified (ISO
                format relative to UTC)
              schema:
                type: string
            x-cloud-resource-created:
              description: The date-time when the resource was created (ISO format
                relative to UTC)
              schema:
                type: string
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Your current session does not have a user id associated with\
            \ it. (code: `extensions.no_user_id`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - extensions.no_user_id
                type: string
        "409":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "An extension already exists with the generated id. Please\
            \ try again. (code: `extensions.id_already_exists`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - extensions.id_already_exists
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Could not download the extension from the specified URL. (code:\
            \ `extensions.request_execution_failed`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - extensions.request_execution_failed
                type: string
      summary: Create an extension
      tags:
      - Extensions
      x-doc:
        tag: Deployments - Extensions
      x-codegen-request-body-name: body
  /billing/costs/{organization_id}/items:
    get:
      description: "EXPERIMENTAL (it may change in future versions): Retrieves the\
        \ itemized costs for the organization."
      operationId: get-costs-items
      parameters:
      - description: Identifier for the organization
        in: path
        name: organization_id
        required: true
        schema:
          type: string
      - description: A datetime for the beginning of the desired range for which to
          fetch costs. Defaults to start of current month.
        in: query
        name: from
        schema:
          type: string
      - description: A datetime for the end of the desired range for which to fetch
          costs. Defaults to the current date.
        in: query
        name: to
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ItemsCosts'
          description: The costs associated to a set of items
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Organization not found. (code: `organization.not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - organization.not_found
                type: string
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The current user does not have access to the requested organization.\
            \ (code: `organization.invalid_access`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - organization.invalid_access
                type: string
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Error fetching the itemized costs for the organization. (code:\
            \ `billing_service.failed_request`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - billing_service.failed_request
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The specified date range is invalid. (code: `costs.invalid_date_range`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - costs.invalid_date_range
                type: string
      summary: Get itemized costs for the organization. Currently unavailable in self-hosted
        ECE.
      tags:
      - BillingCostsAnalysis
      x-doc:
        tag: Billing Costs Analysis
  /organizations/{organization_id}/members/{user_ids}:
    delete:
      description: Deletes one or more organization memberships. Currently unavailable
        in self-hosted ECE.
      operationId: delete-organization-memberships
      parameters:
      - description: Identifier for the Organization
        in: path
        name: organization_id
        required: true
        schema:
          type: string
      - description: CSV list of User identifiers
        in: path
        name: user_ids
        required: true
        schema:
          type: string
      - description: Whether or not to force the removal of Org memberships (effective
          only for Platform Admins)
        in: query
        name: force
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: Organization membership deleted successfully
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "* User not found. (code: `user.not_found`)\n* Organization\
            \ not found. (code: `organization.not_found`)\n* Organization membership\
            \ not found. (code: `organization.membership_not_found`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - user.not_found
                - organization.not_found
                - organization.membership_not_found
                type: string
      summary: Delete organization memberships
      tags:
      - Organizations
      x-doc:
        tag: Organizations
  /deployments/traffic-filter/rulesets/{ruleset_id}/associations:
    get:
      description: Retrieves a list of deployments that are associated to the specified
        ruleset.
      operationId: get-traffic-filter-ruleset-deployment-associations
      parameters:
      - description: The mandatory ruleset ID.
        in: path
        name: ruleset_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RulesetAssociations'
          description: Associations referred by traffic filter rulesets were successfully
            returned
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "Error fetching deployments. (code: `traffic_filter.request_execution_failed`)"
          headers:
            x-cloud-error-codes:
              description: The error codes associated with the response
              schema:
                enum:
                - traffic_filter.request_execution_failed
                type: string
      summary: Get associated deployments
      tags:
      - DeploymentsTrafficFilter
      x-doc:
        tag: Deployments - Traffic Filter - Associations
    post:
      description: Applies the ruleset to the specified deployment.
      operationId: create-traffic-filter-ruleset-association
      parameters:
      - description: The mandatory ruleset ID.
        in: path
        name: ruleset_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterAssociation'
        description: Mandatory ruleset association description
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: Create association request was valid and the association has
            been created
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: Create association request was valid and the association already
            exists
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasicFailedReply'
          description: "The traffic filter ruleset specified by {ruleset_id} cannot\
            \ be found. (code: `traffic_filter.not_found`)"
          headers:
[...]
